<h1>Edit User</h1>
<table>
<%=form_for(@user) do|f| %>
<%= error_messages_for :user%>
<tr><td><%=f.label :f_name, "FirstName" %></td><td><%=f.text_field :f_name %></td></tr>
<tr><td><%=f.label :l_name, "LastName" %></td><td><%=f.text_field :l_name %></td></tr>
<tr><td><%=f.label :full_name, "FullName" %></td><td><%=f.text_field :full_name %></td></tr>
<tr><td><%=f.label :user_name, "UserName" %></td><td><%=f.text_field :user_name %></td></tr>
<tr><td><%=f.label :email, "Email" %></td><td><%=f.text_field :email %></td></tr>
<tr><td><%=f.label :user_type, "User Type" %></td><td><%=f.text_field :user_type %></td></tr>
<tr><td><%=f.label :contact_no, "Contact No" %></td><td><%=f.text_field :contact_no %></td></tr>
<tr><td><%=f.submit "SUBMIT" %></td></tr>
<%end%>
</table>

<label>back to</label><%= link_to 'Index Page', users_path %>

