<h2>User Details</h2>
<ul>
<li><strong>First Name:</strong><%= @user.f_name %></li>
<li><strong>Last Name:</strong><%= @user.l_name %></li>
<li><strong>Full Name:</strong><%= @user.full_name %></li>
<li><strong>User Name:</strong><%= @user.user_name %></li>
<li><strong>Email:</strong><%= @user.email %></li>
<li><strong>User Type:</strong><%= @user.user_type%></li>
<li><strong>Contact No:</strong><%= @user.contact_no %></li>
</ul>
<%= link_to 'Create_Post', new_user_post_path(@user) %>
<h2>All Posts of <%= @user.full_name %></h2>
<ol>
<% @posts.each do |p| %>
<%= render :partial => '/posts/post', :locals=> {:p=>p} %>
<% end %>
</ol>

<label>back to</label><%= link_to 'Index Page', users_path %>

