<h1>User Details</h1>
<label>First Name:</label><%= @user.f_name %><br>
<label>Last Name:</label><%= @user.l_name %><br>
<label>Full Name:</label><%= @user.full_name %><br>
<label>User Name:</label><%= @user.user_name %><br>
<label>Email:</lebel><%= @user.email %><br>
<label>User Type:</label><%= @user.user_type%><br>
<label>Contact No:</label><%= @user.contact_no %>

