<h1>User Details</h1>
<ul>
<li>First Name:<%= @user.f_name %></li>
<li>Last Name:<%= @user.l_name %></li>
<li>Full Name:<%= @user.full_name %></li>
<li>User Name:<%= @user.user_name %></li>
<li>Email:<%= @user.email %></li>
<li>User Type:<%= @user.user_type%></li>
<li>Contact No:<%= @user.contact_no %></li>
</ul>

<h2>All Posts of <%= @user.full_name %></h2>
<ol>
<% u = @user.posts %>
<% u.each do |a| %>
<li><%= link_to a[:created_at] , user_post_path(a.id)%>
(<%= a[:title]%>)</li>
<% end %>
</ol>

<label>back to</label><%= link_to 'Index Page', users_path %>

