<h2>Create New Post</h2>
<table>
<%= form_for @post , :url => user_posts_path(@user.id),
:html =>{:method => "post" } do |f| %>

<tr><td><%=f.label :title, "Title" %></td><td><%=f.text_field :title %></td></tr>
<tr><td><%=f.label :description, "Description" %></td><td><%=f.text_area :description %></td></tr>
<tr><td><%=f.submit "SUBMIT" %></td></tr>
<%end%>
</table>

<label>back to</label><%= link_to 'show page', user_path(@user) %>


