<h2>Post Details</h2>
<ul>
<li><strong>Date:</strong><%= @post.created_at %></li>
<li><strong>Created By:</strong><%= @user.full_name %></li>
<li><strong>Title:</strong>(<%= @post.title %>)</li>
<li><strong>Description:</strong><br><%= @post.description %></li>
</ul>


<label>back to</label><%= link_to 'User Show Page', user_path(@user) %>
